.App {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f6f2ff !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #5328ff !important;
  border-color: #5328ff !important;
  border-width: 2px !important;
}

.btn-outline-primary {
  color: #5328ff !important;
  background-image: none !important;
  border-color: #e560f1ee !important;
  border-width: 2px !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #e560f1ee !important;
  border-color: #e560f1ee !important;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 204, 204, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #5328ff !important;
  background-color: transparent !important;
}

.navbar {
  margin-bottom: 32px !important;
}

.nav-link{
  font-weight: bold !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}